{% load i18n %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css">
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<title>Parte{% block title %}{% endblock title %}</title>
</head>
<body>

<div class="container">

	<div class="navbar">
	    <div class="navbar-inner">
	        <div class="container">
	           <a class="brand" href="{% url index %}">Parte</a>
	            <ul class="nav pull-right">
	                <li class="divider-vertical"></li>
	                {% if user.is_authenticated %}
	                <li><span class="navbar-text">{% blocktrans with username=user.username %}Hello {{ username }}!{% endblocktrans %}</span></li>
                    <li><a href="{% url profile user.pk %}">{% trans 'Profile' %}</a></li>
                    <li><a href="{% url auth_logout %}">{% trans 'Logout' %}</a></li>
	                {% else %}
	                <li><a href="{% url registration_register %}">{% trans 'Signup' %}</a></li>
	                <li><a href="{% url auth_login %}">{% trans 'Login' %}</a></li>
	                {% endif %}
	            </ul>
	        </div>
	    </div>
	</div>

    {% if post_form and not form %}
    <div class="row">
        <div class="span6 offset3">
	        <form class="form-inline" method="post" action="{% url posts-new %}">{% csrf_token %}
	        {{ post_form }}
	        <input type="submit">
	        </form>
        </div>
    </div>
    {% endif %}

	{% block content %}
	{% endblock content %}

</div>

</body>
</html>
